Repository uber/piranha, pull requests merged in 2023-02, with the labels that each got.

#334 Move the source_code_unit_tests to e2e tests.
  src/models/piranha_arguments.rs
  src/models/unit_tests/source_code_unit_test.rs
  src/tests/mod.rs
  src/tests/test_piranha_go.rs
  src/tests/test_piranha_java.rs
  src/tests/test_piranha_kt.rs
  src/tests/test_piranha_python.rs
  src/tests/test_piranha_swift.rs
  src/tests/test_piranha_ts.rs
  src/tests/test_piranha_tsx.rs
  test-resources/java/user_option_delete_consecutive_lines/configurations/rules.toml
  test-resources/java/user_option_delete_consecutive_lines/expected/Sample.java
  test-resources/java/user_option_delete_consecutive_lines/input/Sample.java
  test-resources/java/user_option_delete_if_empty/configurations/rules.toml
  test-resources/java/user_option_delete_if_empty/expected/.placeholder
  test-resources/java/user_option_delete_if_empty/input/Sample.java
  test-resources/java/user_option_do_not_delete_consecutive_lines/configurations/rules.toml
  test-resources/java/user_option_do_not_delete_consecutive_lines/expected/Sample.java
  test-resources/java/user_option_do_not_delete_consecutive_lines/input/Sample.java
  test-resources/java/user_option_do_not_delete_if_empty/configurations/rules.toml
  test-resources/java/user_option_do_not_delete_if_empty/expected/Sample.java
  test-resources/java/user_option_do_not_delete_if_empty/input/Sample.java
Labels: Cleanup

#354 Seperate out logic related to reading user rules and built-in rules
  src/models/rule.rs
  src/models/rule_graph.rs
  src/models/rule_store.rs
Labels: Cleanup

#359 Fix the CLI problem
  .github/workflows/polyglot_build.yml
  Cargo.toml
  POLYGLOT_README.md
  src/lib.rs
  src/main.rs
  src/models/default_configs.rs
  src/models/edit.rs
  src/models/language.rs
  src/models/matches.rs
  src/models/piranha_arguments.rs
  src/models/piranha_output.rs
  src/models/rule_store.rs
  src/models/source_code_unit.rs
  src/models/unit_tests/scopes_test.rs
  src/models/unit_tests/source_code_unit_test.rs
  src/tests/mod.rs
  src/tests/test_piranha_java.rs
  src/tests/test_piranha_python.rs
  src/utilities/mod.rs
Labels: bug

#360 `piranha_rule!` macro for creating a rule
  src/models/constraint.rs
  src/models/default_configs.rs
  src/models/rule.rs
  src/models/unit_tests/rule_test.rs
  src/models/unit_tests/source_code_unit_test.rs
  src/tests/mod.rs
Labels: enhancement

#347 Added rules for boolean_simplification of something_or_false and false_or_something
  src/cleanup_rules/swift/rules.toml
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift, New Rules

#371 Remove unnecessary field (`path_to_codebase`) from `Piranha` struct
  src/models/unit_tests/piranha_arguments_test.rs
Labels: Cleanup

#374 Bumped up tree-sitter-swift dependency and resolved test failures
  Cargo.toml
  src/tests/test_piranha_swift.rs
  test-resources/swift/cleanup_rules/configurations/rules.toml
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift

#348 Added rules for boolean_simplification of something_and_false and false_and_something
  src/cleanup_rules/swift/rules.toml
  src/tests/test_piranha_swift.rs
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift, New Rules

#349 [Swift-rule] Added boolean simplification rules for swift to simplify not true and not false
  src/cleanup_rules/swift/rules.toml
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift, New Rules

#368 Added rules for if cleanup in swift
  src/cleanup_rules/swift/edges.toml
  src/cleanup_rules/swift/rules.toml
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift, New Rules

#388 Added rules to clean if-false from swift
  src/cleanup_rules/swift/rules.toml
  test-resources/swift/cleanup_rules/configurations/rules.toml
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift, New Rules

#389 Added rule to cleanup guard statements which are always true
  src/cleanup_rules/swift/edges.toml
  src/cleanup_rules/swift/rules.toml
  test-resources/swift/cleanup_rules/configurations/rules.toml
  test-resources/swift/cleanup_rules/expected/SampleClass.swift
  test-resources/swift/cleanup_rules/input/SampleClass.swift
Labels: Swift, New Rules
